openapi: 3.0.3
info:
  title: Truefoods Sanifu API
  description: |
    API for Truefoods Sanifu integration with NetSuite.

    This API provides endpoints for managing items, customers, customer purchases, and sales orders.
  version: 1.0.0
  contact:
    name: API Support

servers:
  - url: https://netsuiteintegrator.dynamicsserv.com:4140/api/truefoods-sanifu
    description: Production Server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Items
    description: Item management endpoints
  - name: Customers
    description: Customer management endpoints
  - name: Sales Orders
    description: Sales order management endpoints

paths:
  /api/login:
    post:
      tags:
        - Authentication
      summary: User Login
      description: Authenticate user and get access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: "admin@example.com"
              password: "password123"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  /get/items:
    post:
      tags:
        - Items
      summary: Get Items
      description: Retrieve a paginated list of items with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of items per page
        - name: itemId
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific item ID
        - name: displayName
          in: query
          required: false
          schema:
            type: string
          description: Filter by item display name
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Filter by item category
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include inactive items
        - name: includeLocations
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include location data in response
        - name: includePricing
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include pricing data in response
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/uom-conversion:
    post:
      tags:
        - Items
      summary: Get UOM Conversion
      description: |
        Get unit of measure conversion data.

        Usage:
        - No parameters: Get all unit types
        - unitTypeId: Get all units for a specific unit type
        - unitTypeId + unitName: Get conversion rate for a specific unit
        - itemId: Get units from an item's unit type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UomConversionRequest'
            examples:
              allUnitTypes:
                summary: Get all unit types
                value:
                  company_id: 6
                  environment: sandbox
              unitTypeUnits:
                summary: Get units for a unit type
                value:
                  company_id: 6
                  environment: sandbox
                  unitTypeId: "1"
              specificUnit:
                summary: Get specific unit conversion
                value:
                  company_id: 6
                  environment: sandbox
                  unitTypeId: "1"
                  unitName: "CAN"
              itemUnits:
                summary: Get units from item
                value:
                  company_id: 6
                  environment: sandbox
                  itemId: "123"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UomConversionResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/customers:
    post:
      tags:
        - Customers
      summary: Get Customers
      description: Retrieve a paginated list of customers with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: customerId
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific customer ID
        - name: companyName
          in: query
          required: false
          schema:
            type: string
          description: Filter by company name
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Filter by customer email
        - name: phone
          in: query
          required: false
          schema:
            type: string
          description: Filter by customer phone
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by inactive status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/shipping-addresses:
    post:
      tags:
        - Customers
      summary: Get Shipping Addresses
      description: Retrieve a paginated list of shipping addresses with optional filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingAddressesRequest'
            example:
              company_id: 6
              environment: sandbox
              page: 1
              pageSize: 50
              customerId: "1378"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingAddressesResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/customer-purchases:
    post:
      tags:
        - Customers
      summary: Get Customer Purchases
      description: Retrieve purchase history for a specific customer
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          example: 20
          description: Number of records per page
        - name: customerId
          in: query
          required: true
          schema:
            type: integer
          example: 1378
          description: Customer ID to retrieve purchases for
        - name: transactionType
          in: query
          required: false
          schema:
            type: string
            enum: [invoice, salesorder, cashsale, creditmemo, returnauthorization, estimate]
          example: salesorder
          description: Filter by transaction type
        - name: dateFrom
          in: query
          required: false
          schema:
            type: string
          example: "29/03/2026"
          description: Start date filter (DD/MM/YYYY format)
        - name: dateTo
          in: query
          required: false
          schema:
            type: string
          example: "30/03/2026"
          description: End date filter (DD/MM/YYYY format)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPurchasesResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /create/sales-order:
    post:
      tags:
        - Sales Orders
      summary: Create Sales Order
      description: Create a new sales order
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSalesOrderRequest'
            example:
              company_id: 6
              environment: sandbox
              customerId: 1378
              status: "A"
              memo: "new"
              tranDate: "2026-03-30"
              dueDate: "2026-04-05"
              shipDate: "2026-03-31"
              otherRefNum: "PO-12345"
              terms: 3
              salesRep: 1307
              department: 2
              classId: 1
              location: 5
              salesType: 1
              channel: 2
              region: 3
              widgetLink: "https://example.com/widget/123"
              items:
                - itemId: 355
                  quantity: 2
                  rate: 500
                  amount: 1000
                  description: "Burger"
                  taxCode: 7
                  location: 5
      responses:
        '200':
          description: Sales order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /update/sales-order:
    post:
      tags:
        - Sales Orders
      summary: Update Sales Order
      description: Update an existing sales order
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
          example: 3870177
          description: Sales order ID to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSalesOrderRequest'
            example:
              memo: "Updated order"
              tranDate: "2026-03-30"
              dueDate: "2026-04-05"
              shipDate: "2026-03-31"
              otherRefNum: "PO-12345"
              terms: 3
              salesRep: 1307
              department: 2
              classId: 1
              location: 5
              salesType: 1
              channel: 2
              region: 3
              items:
                - line: 1
                  quantity: 2
                  rate: 500
                  amount: 1000
                  description: "Burger"
                  taxCode: 7
                  location: 5
      responses:
        '200':
          description: Sales order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderResponse'
        '400':
          description: Bad request
        '404':
          description: Sales order not found
        '500':
          description: Internal server error

components:
  schemas:
    ItemsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Item:
      type: object
      properties:
        itemId:
          type: integer
          description: Unique item identifier
        displayName:
          type: string
          description: Item display name
        category:
          type: string
          description: Item category
        isInactive:
          type: boolean
          description: Whether the item is inactive
        locations:
          type: array
          items:
            type: object
          description: Item location data (if includeLocations is true)
        pricing:
          type: object
          description: Item pricing data (if includePricing is true)

    CustomersResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Customer:
      type: object
      properties:
        customerId:
          type: integer
          description: Unique customer identifier
        companyName:
          type: string
          description: Company name
        email:
          type: string
          description: Customer email
        phone:
          type: string
          description: Customer phone number
        isInactive:
          type: boolean
          description: Whether the customer is inactive

    CustomerPurchasesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Purchase:
      type: object
      properties:
        transactionId:
          type: integer
          description: Transaction identifier
        transactionType:
          type: string
          enum: [invoice, salesorder, cashsale, creditmemo, returnauthorization, estimate]
        tranDate:
          type: string
          description: Transaction date
        total:
          type: number
          description: Total amount

    CreateSalesOrderRequest:
      type: object
      required:
        - company_id
        - environment
        - customerId
        - tranDate
        - otherRefNum
        - shipDate
        - department
        - location
        - status
        - items
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        customerId:
          type: integer
          description: Customer ID for the order
        status:
          type: string
          enum: [A, B]
          description: Order status
        memo:
          type: string
          description: Order memo/notes
        tranDate:
          type: string
          format: date
          description: Transaction date (YYYY-MM-DD)
        dueDate:
          type: string
          format: date
          description: Due date (YYYY-MM-DD)
        shipDate:
          type: string
          format: date
          description: Ship date (YYYY-MM-DD)
        otherRefNum:
          type: string
          description: External reference number (e.g., PO number)
        terms:
          type: integer
          description: Payment terms ID
        salesRep:
          type: integer
          description: Sales representative ID
        department:
          type: integer
          description: Department ID
        classId:
          type: integer
          description: Class ID
        location:
          type: integer
          description: Location ID
        salesType:
          type: integer
          description: Sales type ID
        channel:
          type: integer
          description: Sales channel ID
        region:
          type: integer
          description: Region ID
        widgetLink:
          type: string
          description: Widget link URL
        items:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderItem'
          description: Line items for the order

    UpdateSalesOrderRequest:
      type: object
      properties:
        memo:
          type: string
          description: Order memo/notes
        tranDate:
          type: string
          format: date
          description: Transaction date (YYYY-MM-DD)
        dueDate:
          type: string
          format: date
          description: Due date (YYYY-MM-DD)
        shipDate:
          type: string
          format: date
          description: Ship date (YYYY-MM-DD)
        otherRefNum:
          type: string
          description: External reference number (e.g., PO number)
        terms:
          type: integer
          description: Payment terms ID
        salesRep:
          type: integer
          description: Sales representative ID
        department:
          type: integer
          description: Department ID
        classId:
          type: integer
          description: Class ID
        location:
          type: integer
          description: Location ID
        salesType:
          type: integer
          description: Sales type ID
        channel:
          type: integer
          description: Sales channel ID
        region:
          type: integer
          description: Region ID
        widgetLink:
          type: string
          description: Widget link URL
        items:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLineItem'
          description: Line items to update

    SalesOrderItem:
      type: object
      required:
        - itemId
        - quantity
        - taxCode
        - location
      properties:
        itemId:
          type: integer
          description: Item ID
        quantity:
          type: integer
          description: Quantity
        rate:
          type: number
          description: Unit price
        amount:
          type: number
          description: Line total amount
        description:
          type: string
          description: Line item description
        taxCode:
          type: integer
          description: Tax code ID
        location:
          type: integer
          description: Item location ID

    SalesOrderLineItem:
      type: object
      required:
        - line
      properties:
        line:
          type: integer
          description: Line number to update
        quantity:
          type: integer
          description: Quantity
        rate:
          type: number
          description: Unit price
        amount:
          type: number
          description: Line total amount
        description:
          type: string
          description: Line item description
        taxCode:
          type: integer
          description: Tax code ID
        location:
          type: integer
          description: Item location ID

    SalesOrderResponse:
      type: object
      properties:
        success:
          type: boolean
        orderId:
          type: integer
          description: Created/updated order ID
        message:
          type: string
          description: Status message

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Items per page
        totalRecords:
          type: integer
          description: Total number of records
        totalPages:
          type: integer
          description: Total number of pages

    ShippingAddressesRequest:
      type: object
      required:
        - company_id
        - environment
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        page:
          type: integer
          default: 1
          description: Page number for pagination
        pageSize:
          type: integer
          default: 50
          description: Number of records per page (max 1000)
        customerId:
          type: string
          description: Filter by customer internal ID
        country:
          type: string
          description: Filter by country code (e.g., KE, US)
        city:
          type: string
          description: Filter by city name (contains)
        defaultShipping:
          type: boolean
          description: Filter by default shipping addresses only

    ShippingAddressesResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              addressee:
                type: string
              attention:
                type: string
              label:
                type: string
              address1:
                type: string
              address2:
                type: string
              address3:
                type: string
              city:
                type: string
              state:
                type: string
              stateText:
                type: string
              zip:
                type: string
              country:
                type: string
              countryText:
                type: string
              phone:
                type: string
              isDefaultShipping:
                type: boolean
              isDefaultBilling:
                type: boolean
              isResidential:
                type: boolean
              entityId:
                type: string
              entityName:
                type: string
        pagination:
          $ref: '#/components/schemas/Pagination'

    UomConversionRequest:
      type: object
      required:
        - company_id
        - environment
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        unitTypeId:
          type: string
          description: Unit type internal ID
        unitName:
          type: string
          description: Specific unit name to get conversion rate for
        itemId:
          type: string
          description: Item internal ID to get its unit type

    UomConversionResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: object
          properties:
            success:
              type: boolean
            unitTypeId:
              type: string
            unitTypeName:
              type: string
            totalUnits:
              type: integer
            units:
              type: array
              items:
                type: object
                properties:
                  internalId:
                    type: string
                  unitName:
                    type: string
                  abbreviation:
                    type: string
                  pluralName:
                    type: string
                  conversionRate:
                    type: number
                  itemsPerUnit:
                    type: number
                  isBaseUnit:
                    type: boolean

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
        password:
          type: string
          description: User password

    LoginResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            company_id:
              type: integer
              description: Company ID
            company_name:
              type: string
              description: Company name
            user_id:
              type: integer
              description: User ID
            user:
              type: string
              description: User name
            token:
              type: string
              description: Access token for API authentication
