openapi: 3.0.3
info:
  title: Truefoods Sanifu API
  description: |
    API for Truefoods Sanifu integration with NetSuite.

    This API provides endpoints for managing items, customers, customer purchases, and sales orders.
  version: 1.0.0
  contact:
    name: API Support

servers:
  - url: https://netsuiteintegrator.dynamicsserv.com:4140/api/truefoods-sanifu
    description: Production Server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Items
    description: Item management endpoints
  - name: Customers
    description: Customer management endpoints
  - name: Sales Orders
    description: Sales order management endpoints
  - name: Estimates
    description: Estimate (quote) management endpoints
  - name: Locations
    description: Location (warehouse/store) endpoints
  - name: Vendors
    description: Vendor (supplier) endpoints
  - name: Accounts
    description: GL account endpoints (expense accounts for vendor services)
  - name: Divisions
    description: Division (NetSuite department) endpoints
  - name: Cost Centers
    description: Cost center (NetSuite class) endpoints

paths:
  /api/login:
    post:
      tags:
        - Authentication
      summary: User Login
      description: Authenticate user and get access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            example:
              email: "admin@example.com"
              password: "password123"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  /get/items:
    post:
      tags:
        - Items
      summary: Get Items
      description: Retrieve a paginated list of items with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of items per page
        - name: itemId
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific item ID
        - name: displayName
          in: query
          required: false
          schema:
            type: string
          description: Filter by item display name
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Filter by item category
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include inactive items
        - name: includeLocations
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include location data in response
        - name: includePricing
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include pricing data in response
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemsResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/uom-conversion:
    post:
      tags:
        - Items
      summary: Get UOM Conversion
      description: |
        Get unit of measure conversion data.

        Usage:
        - No parameters: Get all unit types
        - unitTypeId: Get all units for a specific unit type
        - unitTypeId + unitName: Get conversion rate for a specific unit
        - itemId: Get units from an item's unit type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UomConversionRequest'
            examples:
              allUnitTypes:
                summary: Get all unit types
                value:
                  company_id: 6
                  environment: sandbox
              unitTypeUnits:
                summary: Get units for a unit type
                value:
                  company_id: 6
                  environment: sandbox
                  unitTypeId: "1"
              specificUnit:
                summary: Get specific unit conversion
                value:
                  company_id: 6
                  environment: sandbox
                  unitTypeId: "1"
                  unitName: "CAN"
              itemUnits:
                summary: Get units from item
                value:
                  company_id: 6
                  environment: sandbox
                  itemId: "123"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UomConversionResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/customers:
    post:
      tags:
        - Customers
      summary: Get Customers
      description: Retrieve a paginated list of customers with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: customerId
          in: query
          required: false
          schema:
            type: string
          description: Filter by specific customer ID
        - name: companyName
          in: query
          required: false
          schema:
            type: string
          description: Filter by company name
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Filter by customer email
        - name: phone
          in: query
          required: false
          schema:
            type: string
          description: Filter by customer phone
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by inactive status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/shipping-addresses:
    post:
      tags:
        - Customers
      summary: Get Shipping Addresses
      description: Retrieve a paginated list of shipping addresses with optional filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingAddressesRequest'
            example:
              company_id: 6
              environment: sandbox
              page: 1
              pageSize: 50
              customerId: "1378"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShippingAddressesResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/customer-purchases:
    post:
      tags:
        - Customers
      summary: Get Customer Purchases
      description: Retrieve purchase history for a specific customer
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 20
          example: 20
          description: Number of records per page
        - name: customerId
          in: query
          required: true
          schema:
            type: integer
          example: 1378
          description: Customer ID to retrieve purchases for
        - name: transactionType
          in: query
          required: false
          schema:
            type: string
            enum: [invoice, salesorder, cashsale, creditmemo, returnauthorization, estimate]
          example: salesorder
          description: Filter by transaction type
        - name: dateFrom
          in: query
          required: false
          schema:
            type: string
          example: "29/03/2026"
          description: Start date filter (DD/MM/YYYY format)
        - name: dateTo
          in: query
          required: false
          schema:
            type: string
          example: "30/03/2026"
          description: End date filter (DD/MM/YYYY format)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPurchasesResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /create/sales-order:
    post:
      tags:
        - Sales Orders
      summary: Create Sales Order
      description: Create a new sales order here
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSalesOrderRequest'
            example:
              company_id: 6
              environment: sandbox
              customerId: 1378
              status: "A"
              memo: "new"
              tranDate: "2026-03-30"
              dueDate: "2026-04-05"
              shipTo: 1234
              shipDate: "2026-03-31"
              otherRefNum: "PO-12345"
              terms: 3
              salesRep: 1307
              department: 2
              classId: 1
              location: 5
              salesType: 1
              channel: 2
              region: 3
              widgetLink: "https://example.com/widget/123"
              items:
                - itemId: 355
                  quantity: 2
                  rate: 500
                  amount: 1000
                  description: "Burger"
                  taxCode: 7
                  location: 5
      responses:
        '200':
          description: Sales order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /update/sales-order:
    post:
      tags:
        - Sales Orders
      summary: Update Sales Order
      description: Update an existing sales order
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
          example: 3870177
          description: Sales order ID to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSalesOrderRequest'
            example:
              memo: "Updated order"
              tranDate: "2026-03-30"
              dueDate: "2026-04-05"
              shipDate: "2026-03-31"
              otherRefNum: "PO-12345"
              terms: 3
              salesRep: 1307
              department: 2
              classId: 1
              location: 5
              salesType: 1
              channel: 2
              region: 3
              items:
                - line: 1
                  quantity: 2
                  rate: 500
                  amount: 1000
                  description: "Burger"
                  taxCode: 7
                  location: 5
      responses:
        '200':
          description: Sales order updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderResponse'
        '400':
          description: Bad request
        '404':
          description: Sales order not found
        '500':
          description: Internal server error

  /create/estimate:
    post:
      tags:
        - Estimates
      summary: Create Estimate
      description: Create a new estimate (quote)
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEstimateRequest'
            example:
              company_id: 6
              environment: sandbox
              customerId: 1378
              memo: "Quote for Q2 order"
              tranDate: "2026-05-21"
              expectedCloseDate: "2026-06-15"
              dueDate: "2026-06-30"
              shipTo: 1234
              shipDate: "2026-06-20"
              otherRefNum: "PO-EST-12345"
              terms: 3
              salesRep: 1307
              department: 2
              classId: 1
              location: 5
              salesType: 1
              channel: 2
              region: 3
              widgetLink: "https://example.com/widget/123"
              probability: 75
              items:
                - itemId: 355
                  quantity: 2
                  rate: 500
                  amount: 1000
                  description: "Burger"
                  taxCode: 7
                  location: 5
      responses:
        '200':
          description: Estimate created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/estimates:
    post:
      tags:
        - Estimates
      summary: Get Estimates
      description: Retrieve a paginated list of estimates with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of records per page
        - name: estimateId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by specific estimate internal ID
        - name: tranId
          in: query
          required: false
          schema:
            type: string
          description: Filter by estimate document number
        - name: customerId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by customer internal ID
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Filter by estimate status (e.g. open, voided, expired)
        - name: dateFrom
          in: query
          required: false
          schema:
            type: string
          example: "01/03/2026"
          description: Start date filter (DD/MM/YYYY format)
        - name: dateTo
          in: query
          required: false
          schema:
            type: string
          example: "30/03/2026"
          description: End date filter (DD/MM/YYYY format)
        - name: subsidiary
          in: query
          required: false
          schema:
            type: integer
          description: Filter by subsidiary internal ID
        - name: department
          in: query
          required: false
          schema:
            type: integer
          description: Filter by department internal ID
        - name: location
          in: query
          required: false
          schema:
            type: integer
          description: Filter by location internal ID
        - name: salesRep
          in: query
          required: false
          schema:
            type: integer
          description: Filter by sales rep internal ID
        - name: minAmount
          in: query
          required: false
          schema:
            type: number
          description: Minimum estimate total amount
        - name: maxAmount
          in: query
          required: false
          schema:
            type: number
          description: Maximum estimate total amount
        - name: includeLineItems
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include line items in the response
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimatesResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/locations:
    post:
      tags:
        - Locations
      summary: Get Locations
      description: Retrieve a paginated list of locations with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of records per page (max 1000)
        - name: locationId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by specific location internal ID
        - name: name
          in: query
          required: false
          schema:
            type: string
          example: "Warehouse"
          description: Filter by location name or full name (contains, case-insensitive)
        - name: subsidiary
          in: query
          required: false
          schema:
            type: integer
          description: Filter by subsidiary internal ID
        - name: locationType
          in: query
          required: false
          schema:
            type: integer
          description: Filter by location type internal ID
        - name: parent
          in: query
          required: false
          schema:
            type: integer
          description: Filter by parent location internal ID
        - name: makeInventoryAvailable
          in: query
          required: false
          schema:
            type: boolean
          description: Filter by the "Make Inventory Available" flag
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: true returns only inactive locations, false (default) only active ones
        - name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Return both active and inactive locations (overrides isInactive)
        - name: includeAddress
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include the location main address block in the response
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationsResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/vendors:
    post:
      tags:
        - Vendors
      summary: Get Vendors
      description: Retrieve a paginated list of vendors with optional filters
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of records per page (max 1000)
        - name: vendorId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by specific vendor internal ID
        - name: name
          in: query
          required: false
          schema:
            type: string
          example: "Services"
          description: Filter by vendor ID, company name or display name (contains, case-insensitive)
        - name: email
          in: query
          required: false
          schema:
            type: string
          description: Filter by vendor email (contains, case-insensitive)
        - name: subsidiary
          in: query
          required: false
          schema:
            type: integer
          description: Filter by subsidiary internal ID (any subsidiary the vendor is assigned to)
        - name: category
          in: query
          required: false
          schema:
            type: integer
          description: Filter by vendor category internal ID
        - name: currency
          in: query
          required: false
          schema:
            type: integer
          description: Filter by primary currency internal ID
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: true returns only inactive vendors, false (default) only active ones
        - name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Return both active and inactive vendors (overrides isInactive)
        - name: includeAddress
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Include the vendor default billing address block in the response
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorsResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/accounts:
    post:
      tags:
        - Accounts
      summary: Get Accounts
      description: |
        Retrieve a paginated list of GL accounts.

        By default only active, non-summary expense-type accounts (`Expense`, `OthExpense`, `COGS`)
        are returned - these are the accounts that vendor services are charged to on bills.
        Use `accountType` to request other types, or `allTypes=true` to return every account.
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of records per page (max 1000)
        - name: accountId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by specific account internal ID
        - name: number
          in: query
          required: false
          schema:
            type: string
          example: "6"
          description: Filter by account number (starts with)
        - name: name
          in: query
          required: false
          schema:
            type: string
          example: "Fees"
          description: Filter by account name or full name (contains, case-insensitive)
        - name: accountType
          in: query
          required: false
          schema:
            type: string
            default: Expense,OthExpense,COGS
          example: Expense,OthExpense,COGS
          description: |
            Comma-separated account type codes. Common values: Expense, OthExpense, COGS,
            DeferExpense, OthCurrAsset, FixedAsset, OthAsset, AcctPay, OthCurrLiab,
            LongTermLiab, Bank, Income, Equity
        - name: allTypes
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Return accounts of every type (overrides accountType)
        - name: subsidiary
          in: query
          required: false
          schema:
            type: integer
          description: Filter by subsidiary internal ID (accounts available to that subsidiary)
        - name: parent
          in: query
          required: false
          schema:
            type: integer
          description: Filter by parent account internal ID
        - name: includeSummary
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Also return summary (non-posting header) accounts
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: true returns only inactive accounts, false (default) only active ones
        - name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Return both active and inactive accounts (overrides isInactive)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/divisions:
    post:
      tags:
        - Divisions
      summary: Get Divisions
      description: |
        Retrieve a paginated list of divisions with optional filters.

        Divisions are the NetSuite Department segment. Send the returned `divisionId`
        as `department` when creating sales orders and estimates.
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of records per page (max 1000)
        - name: divisionId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by specific division internal ID
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter by division name or full name (contains, case-insensitive)
        - name: subsidiary
          in: query
          required: false
          schema:
            type: integer
          description: Filter by subsidiary internal ID (divisions available to that subsidiary)
        - name: parent
          in: query
          required: false
          schema:
            type: integer
          description: Filter by parent division internal ID
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: true returns only inactive divisions, false (default) only active ones
        - name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Return both active and inactive divisions (overrides isInactive)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivisionsResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

  /get/cost-centers:
    post:
      tags:
        - Cost Centers
      summary: Get Cost Centers
      description: |
        Retrieve a paginated list of cost centers with optional filters.

        Cost centers are the NetSuite Class segment. Send the returned `costCenterId`
        as `classId` when creating sales orders and estimates.
      parameters:
        - name: company_id
          in: query
          required: true
          schema:
            type: integer
          example: 6
          description: Company identifier
        - name: environment
          in: query
          required: true
          schema:
            type: string
            enum: [sandbox, production]
          example: sandbox
          description: Environment type
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
          example: 1
          description: Page number for pagination
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            default: 50
          example: 50
          description: Number of records per page (max 1000)
        - name: costCenterId
          in: query
          required: false
          schema:
            type: integer
          description: Filter by specific cost center internal ID
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter by cost center name or full name (contains, case-insensitive)
        - name: subsidiary
          in: query
          required: false
          schema:
            type: integer
          description: Filter by subsidiary internal ID (cost centers available to that subsidiary)
        - name: parent
          in: query
          required: false
          schema:
            type: integer
          description: Filter by parent cost center internal ID
        - name: isInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: true returns only inactive cost centers, false (default) only active ones
        - name: includeInactive
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Return both active and inactive cost centers (overrides isInactive)
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCentersResponse'
        '400':
          description: Bad request
        '500':
          description: Internal server error

components:
  schemas:
    ItemsResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Item'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Item:
      type: object
      properties:
        itemId:
          type: integer
          description: Unique item identifier
        displayName:
          type: string
          description: Item display name
        category:
          type: string
          description: Item category
        isInactive:
          type: boolean
          description: Whether the item is inactive
        locations:
          type: array
          items:
            type: object
          description: Item location data (if includeLocations is true)
        pricing:
          type: object
          description: Item pricing data (if includePricing is true)

    CustomersResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Customer:
      type: object
      properties:
        customerId:
          type: integer
          description: Unique customer identifier
        companyName:
          type: string
          description: Company name
        email:
          type: string
          description: Customer email
        phone:
          type: string
          description: Customer phone number
        isInactive:
          type: boolean
          description: Whether the customer is inactive

    CustomerPurchasesResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Purchase:
      type: object
      properties:
        transactionId:
          type: integer
          description: Transaction identifier
        transactionType:
          type: string
          enum: [invoice, salesorder, cashsale, creditmemo, returnauthorization, estimate]
        tranDate:
          type: string
          description: Transaction date
        total:
          type: number
          description: Total amount

    EstimatesResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            $ref: '#/components/schemas/Estimate'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Estimate:
      type: object
      properties:
        estimateId:
          type: integer
          description: Estimate internal ID
        tranId:
          type: string
          description: Estimate document number
        tranDate:
          type: string
          description: Transaction date
        customerId:
          type: integer
          description: Customer internal ID
        customerName:
          type: string
          description: Customer name
        status:
          type: string
          description: Estimate status (e.g. open, voided, expired)
        memo:
          type: string
          description: Estimate memo/notes
        subsidiary:
          type: integer
          description: Subsidiary internal ID
        department:
          type: integer
          description: Department internal ID
        location:
          type: integer
          description: Location internal ID
        salesRep:
          type: integer
          description: Sales rep internal ID
        currency:
          type: string
          description: Currency code
        total:
          type: number
          description: Estimate total amount
        items:
          type: array
          description: Line items (omitted if includeLineItems is false)
          items:
            type: object
            properties:
              line:
                type: integer
              itemId:
                type: integer
              description:
                type: string
              quantity:
                type: number
              rate:
                type: number
              amount:
                type: number
              taxCode:
                type: integer
              location:
                type: integer

    LocationsResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            $ref: '#/components/schemas/Location'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Location:
      type: object
      properties:
        locationId:
          type: integer
          description: Location internal ID
        name:
          type: string
          description: Location name
        fullName:
          type: string
          description: Full hierarchical name including the parent location
        subsidiary:
          type: integer
          description: Subsidiary internal ID
        subsidiaryName:
          type: string
          description: Subsidiary name
        parent:
          type: integer
          description: Parent location internal ID (null for top level)
        parentName:
          type: string
          description: Parent location name
        locationType:
          type: integer
          description: Location type internal ID
        locationTypeName:
          type: string
          description: Location type name
        isInactive:
          type: boolean
          description: Whether the location is inactive
        makeInventoryAvailable:
          type: boolean
          description: Whether inventory at this location is available to sell
        includeChildren:
          type: boolean
          description: Whether child subsidiaries can use this location
        tranPrefix:
          type: string
          description: Transaction prefix configured on the location
        timeZone:
          type: string
          description: Location time zone
        lastModifiedDate:
          type: string
          description: Date the location was last modified
        address:
          type: object
          description: Location main address (omitted if includeAddress is false)
          properties:
            addressee:
              type: string
            attention:
              type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            zip:
              type: string
            country:
              type: string
            phone:
              type: string

    VendorsResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            $ref: '#/components/schemas/Vendor'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Vendor:
      type: object
      properties:
        vendorId:
          type: integer
          description: Vendor internal ID
        entityId:
          type: string
          description: Vendor ID as shown in NetSuite
        companyName:
          type: string
          description: Company name
        displayName:
          type: string
          description: Display name
        legalName:
          type: string
          description: Legal name
        isPerson:
          type: boolean
          description: Whether the vendor is an individual rather than a company
        firstName:
          type: string
          description: First name (individual vendors)
        lastName:
          type: string
          description: Last name (individual vendors)
        email:
          type: string
          description: Email address
        phone:
          type: string
          description: Phone number
        subsidiary:
          type: integer
          description: Primary subsidiary internal ID
        subsidiaryName:
          type: string
          description: Primary subsidiary name
        currency:
          type: integer
          description: Primary currency internal ID
        currencyName:
          type: string
          description: Primary currency name
        terms:
          type: integer
          description: Payment terms internal ID
        termsName:
          type: string
          description: Payment terms name
        category:
          type: integer
          description: Vendor category internal ID
        categoryName:
          type: string
          description: Vendor category name
        expenseAccount:
          type: integer
          description: Default expense account internal ID for this vendor's services
        expenseAccountName:
          type: string
          description: Default expense account name
        payablesAccount:
          type: integer
          description: Default accounts payable account internal ID
        payablesAccountName:
          type: string
          description: Default accounts payable account name
        taxIdNum:
          type: string
          description: Tax ID (KRA PIN)
        isInactive:
          type: boolean
          description: Whether the vendor is inactive
        dateCreated:
          type: string
          description: Date the vendor was created
        lastModifiedDate:
          type: string
          description: Date the vendor was last modified
        address:
          type: object
          description: Vendor default billing address (omitted if includeAddress is false)
          properties:
            addressee:
              type: string
            attention:
              type: string
            address1:
              type: string
            address2:
              type: string
            city:
              type: string
            state:
              type: string
            zip:
              type: string
            country:
              type: string
            phone:
              type: string

    AccountsResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Account:
      type: object
      properties:
        accountId:
          type: integer
          description: Account internal ID
        number:
          type: string
          description: Account number
        name:
          type: string
          description: Account name
        fullName:
          type: string
          description: Full hierarchical name including parent accounts
        accountType:
          type: string
          description: Account type code (e.g. Expense, OthExpense, COGS)
        accountTypeName:
          type: string
          description: Account type display name
        parent:
          type: integer
          description: Parent account internal ID (null for top level)
        parentName:
          type: string
          description: Parent account name
        subsidiary:
          type: string
          description: Subsidiary internal ID(s) the account is available to (comma-separated)
        currency:
          type: integer
          description: Account currency internal ID (bank / AP / AR accounts)
        currencyName:
          type: string
          description: Account currency name
        description:
          type: string
          description: Account description
        isSummary:
          type: boolean
          description: Whether the account is a summary (non-posting) account
        isInactive:
          type: boolean
          description: Whether the account is inactive
        lastModifiedDate:
          type: string
          description: Date the account was last modified

    DivisionsResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            $ref: '#/components/schemas/Division'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Division:
      type: object
      properties:
        divisionId:
          type: integer
          description: Division (department) internal ID - send as department on transactions
        name:
          type: string
          description: Division name
        fullName:
          type: string
          description: Full hierarchical name including the parent division
        parent:
          type: integer
          description: Parent division internal ID (null for top level)
        parentName:
          type: string
          description: Parent division name
        subsidiary:
          type: string
          description: Subsidiary internal ID(s) the division is available to (comma-separated)
        includeChildren:
          type: boolean
          description: Whether child subsidiaries can use this division
        isInactive:
          type: boolean
          description: Whether the division is inactive
        lastModifiedDate:
          type: string
          description: Date the division was last modified

    CostCentersResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            $ref: '#/components/schemas/CostCenter'
        pagination:
          $ref: '#/components/schemas/Pagination'

    CostCenter:
      type: object
      properties:
        costCenterId:
          type: integer
          description: Cost center (class) internal ID - send as classId on transactions
        name:
          type: string
          description: Cost center name
        fullName:
          type: string
          description: Full hierarchical name including the parent cost center
        parent:
          type: integer
          description: Parent cost center internal ID (null for top level)
        parentName:
          type: string
          description: Parent cost center name
        subsidiary:
          type: string
          description: Subsidiary internal ID(s) the cost center is available to (comma-separated)
        includeChildren:
          type: boolean
          description: Whether child subsidiaries can use this cost center
        isInactive:
          type: boolean
          description: Whether the cost center is inactive
        lastModifiedDate:
          type: string
          description: Date the cost center was last modified

    CreateEstimateRequest:
      type: object
      required:
        - company_id
        - environment
        - customerId
        - tranDate
        - department
        - location
        - items
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        customerId:
          type: integer
          description: Customer ID for the estimate
        entityStatus:
          type: integer
          description: Estimate status internal ID (e.g. open, voided, expired)
        memo:
          type: string
          description: Estimate memo/notes
        tranDate:
          type: string
          format: date
          description: Transaction date (YYYY-MM-DD)
        expectedCloseDate:
          type: string
          format: date
          description: Expected close date (YYYY-MM-DD)
        dueDate:
          type: string
          format: date
          description: Due date (YYYY-MM-DD)
        shipTo:
          type: integer
          description: Internal ID of an address from the customer's address book (maps to NetSuite shipaddresslist)
        shipDate:
          type: string
          format: date
          description: Ship date (YYYY-MM-DD)
        otherRefNum:
          type: string
          description: External reference number (e.g., PO number)
        terms:
          type: integer
          description: Payment terms ID
        salesRep:
          type: integer
          description: Sales representative ID
        department:
          type: integer
          description: Department ID
        classId:
          type: integer
          description: Class ID
        location:
          type: integer
          description: Location ID
        subsidiary:
          type: integer
          description: Subsidiary ID
        currency:
          type: integer
          description: Currency ID
        salesType:
          type: integer
          description: Sales type ID
        channel:
          type: integer
          description: Sales channel ID
        region:
          type: integer
          description: Region ID
        widgetLink:
          type: string
          description: Widget link URL
        probability:
          type: number
          description: Probability of close (0-100)
        items:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderItem'
          description: Line items for the estimate

    EstimateResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: object
          properties:
            success:
              type: boolean
            estimateId:
              type: integer
              description: Created estimate internal ID
            tranId:
              type: string
              description: Estimate document number
            message:
              type: string
              description: Status message

    CreateSalesOrderRequest:
      type: object
      required:
        - company_id
        - environment
        - customerId
        - tranDate
        - otherRefNum
        - shipDate
        - department
        - location
        - status
        - items
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        customerId:
          type: integer
          description: Customer ID for the order
        status:
          type: string
          enum: [A, B]
          description: Order status
        memo:
          type: string
          description: Order memo/notes
        tranDate:
          type: string
          format: date
          description: Transaction date (YYYY-MM-DD)
        dueDate:
          type: string
          format: date
          description: Due date (YYYY-MM-DD)
        shipTo:
          type: integer
          description: Internal ID of an address from the customer's address book to ship this order to (maps to NetSuite shipaddresslist)
        shipDate:
          type: string
          format: date
          description: Ship date (YYYY-MM-DD)
        otherRefNum:
          type: string
          description: External reference number (e.g., PO number)
        terms:
          type: integer
          description: Payment terms ID
        salesRep:
          type: integer
          description: Sales representative ID
        department:
          type: integer
          description: Department ID
        classId:
          type: integer
          description: Class ID
        location:
          type: integer
          description: Location ID
        salesType:
          type: integer
          description: Sales type ID
        channel:
          type: integer
          description: Sales channel ID
        region:
          type: integer
          description: Region ID
        widgetLink:
          type: string
          description: Widget link URL
        items:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderItem'
          description: Line items for the order

    UpdateSalesOrderRequest:
      type: object
      properties:
        memo:
          type: string
          description: Order memo/notes
        tranDate:
          type: string
          format: date
          description: Transaction date (YYYY-MM-DD)
        dueDate:
          type: string
          format: date
          description: Due date (YYYY-MM-DD)
        shipDate:
          type: string
          format: date
          description: Ship date (YYYY-MM-DD)
        otherRefNum:
          type: string
          description: External reference number (e.g., PO number)
        terms:
          type: integer
          description: Payment terms ID
        salesRep:
          type: integer
          description: Sales representative ID
        department:
          type: integer
          description: Department ID
        classId:
          type: integer
          description: Class ID
        location:
          type: integer
          description: Location ID
        salesType:
          type: integer
          description: Sales type ID
        channel:
          type: integer
          description: Sales channel ID
        region:
          type: integer
          description: Region ID
        widgetLink:
          type: string
          description: Widget link URL
        items:
          type: array
          items:
            $ref: '#/components/schemas/SalesOrderLineItem'
          description: Line items to update

    SalesOrderItem:
      type: object
      required:
        - itemId
        - quantity
        - taxCode
        - location
      properties:
        itemId:
          type: integer
          description: Item ID
        quantity:
          type: integer
          description: Quantity
        rate:
          type: number
          description: Unit price
        amount:
          type: number
          description: Line total amount
        description:
          type: string
          description: Line item description
        taxCode:
          type: integer
          description: Tax code ID
        location:
          type: integer
          description: Item location ID

    SalesOrderLineItem:
      type: object
      required:
        - line
      properties:
        line:
          type: integer
          description: Line number to update
        quantity:
          type: integer
          description: Quantity
        rate:
          type: number
          description: Unit price
        amount:
          type: number
          description: Line total amount
        description:
          type: string
          description: Line item description
        taxCode:
          type: integer
          description: Tax code ID
        location:
          type: integer
          description: Item location ID

    SalesOrderResponse:
      type: object
      properties:
        success:
          type: boolean
        orderId:
          type: integer
          description: Created/updated order ID
        message:
          type: string
          description: Status message

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Items per page
        totalRecords:
          type: integer
          description: Total number of records
        totalPages:
          type: integer
          description: Total number of pages

    ShippingAddressesRequest:
      type: object
      required:
        - company_id
        - environment
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        page:
          type: integer
          default: 1
          description: Page number for pagination
        pageSize:
          type: integer
          default: 50
          description: Number of records per page (max 1000)
        customerId:
          type: string
          description: Filter by customer internal ID
        country:
          type: string
          description: Filter by country code (e.g., KE, US)
        city:
          type: string
          description: Filter by city name (contains)
        defaultShipping:
          type: boolean
          description: Filter by default shipping addresses only

    ShippingAddressesResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              addressee:
                type: string
              attention:
                type: string
              label:
                type: string
              address1:
                type: string
              address2:
                type: string
              address3:
                type: string
              city:
                type: string
              state:
                type: string
              stateText:
                type: string
              zip:
                type: string
              country:
                type: string
              countryText:
                type: string
              phone:
                type: string
              isDefaultShipping:
                type: boolean
              isDefaultBilling:
                type: boolean
              isResidential:
                type: boolean
              entityId:
                type: string
              entityName:
                type: string
        pagination:
          $ref: '#/components/schemas/Pagination'

    UomConversionRequest:
      type: object
      required:
        - company_id
        - environment
      properties:
        company_id:
          type: integer
          description: Company identifier
        environment:
          type: string
          enum: [sandbox, production]
          description: Environment type
        unitTypeId:
          type: string
          description: Unit type internal ID
        unitName:
          type: string
          description: Specific unit name to get conversion rate for
        itemId:
          type: string
          description: Item internal ID to get its unit type

    UomConversionResponse:
      type: object
      properties:
        statusCode:
          type: integer
          example: 200
        response:
          type: string
          example: Success
        data:
          type: object
          properties:
            success:
              type: boolean
            unitTypeId:
              type: string
            unitTypeName:
              type: string
            totalUnits:
              type: integer
            units:
              type: array
              items:
                type: object
                properties:
                  internalId:
                    type: string
                  unitName:
                    type: string
                  abbreviation:
                    type: string
                  pluralName:
                    type: string
                  conversionRate:
                    type: number
                  itemsPerUnit:
                    type: number
                  isBaseUnit:
                    type: boolean

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
        password:
          type: string
          description: User password

    LoginResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            company_id:
              type: integer
              description: Company ID
            company_name:
              type: string
              description: Company name
            user_id:
              type: integer
              description: User ID
            user:
              type: string
              description: User name
            token:
              type: string
              description: Access token for API authentication
